<div class="container jumbotron login-form">
    <h1 class="text-center mt-2">Log In</h1>
    <form
        [formGroup]="form"
        (ngSubmit)="login()" 
        autocomplete="off">

        <app-input 
            label="Email" 
            label_id="email"
            input_type="text"
            [control]="form.get('email')"
            ></app-input>

        <app-input 
            label="Password" 
            label_id="password"
            input_type="password"
            [control]="form.get('password')"
            ></app-input>

        <button class="btn btn-primary" 
            [disabled]="form.invalid"
            type="submit">Log In</button>
    </form>
</div>
