<div class="container jumbotron signup-form">
    <h1 class="text-center mt-2">Sign Up</h1>
    <div  class="alert alert-danger" *ngIf="form.errors && form.errors.email ">{{ form.errors.email }}</div>
    <form
        [formGroup]="form"
        (ngSubmit)="signUp()" 
        autocomplete="off">

        <app-input 
            label="Username" 
            label_id="username"
            input_type="text"
            [control]="form.get('name')"
            title="4 aplha and 4 num"
            ></app-input>


        <app-input 
            label="Email" 
            label_id="email"
            input_type="text"
            [control]="form.get('email')"
            ></app-input>
     
        

        <app-input 
            label="Password" 
            label_id="password"
            input_type="password"
            [control]="form.get('password')"
            ></app-input>

        <app-input 
            label="Confirm Password" 
            label_id="confirmPassword"
            input_type="password"
            [control]="form.get('confirmPassword')"
            ></app-input>



        
        <div *ngIf="confirmPassword.touched &&
            form.errors !== null && 
            form.errors.passwordError && 
            !password.errors &&
            password.touched" class="alert alert-danger">
            Passwords should match!.
        </div>

        <button class="btn btn-primary" 
            [disabled]="form.invalid"
            type="submit">Sign Up</button>
    </form>
</div>
